.box{
    background-color: red;
    padding: 20px;
    margin-top: 60px;
    width: 60%;
    color: white;
    border-radius: 20px;
}
.input{
    height: 25%;
    background-color: lightgray;
    border: none;
    border-radius: 6px;
    padding: 5px;
    width: 30%;
    }
    .button{
        color: aqua;
        background-color: black;
        border: none;
        padding: 15px;
        width: 30%;
        border-radius: 5px;
    }